body{
    font-family: Roboto, sans-serif;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1, ul, input, span{
    margin: 0;
}
.container{
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
h1{
    background-color: #8B0000;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 13px 13px 13px 20px;
}
.fa-minus, .fa-plus{
float: right;
}
input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    border: none;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #8B0000;
}
input:focus{
    background-color: white;
    border: 3px solid #8B0000;
    outline: none;
}
ul{
    list-style: none;
    padding: 0;
}
.text{
    text-align: center;
    color: #666666;
}
li{
background-color: white;
}
li:nth-child(2n){
    background-color: #f7f7f7;
}
.bin{
    padding: 10px 0 0 0;
    background: #e74c3c;
    height: 30px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.5s;
    opacity: 0;

}
li:hover span{
    width: 40px;
    opacity: 1.0;
}


